@{
    ViewBag.Title = "about_us";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>About us - About us Page | ahmed</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/rollover.js" type="text/javascript"></script>
<!--[if lt IE 7]>
	<link href="ie_style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/ie_png.js"></script>
	<script type="text/javascript">
		 ie_png.fix('.png, .box .top, .box .bottom, .box .inner');
	</script>
<![endif]-->
</head>

<body onload="MM_preloadImages('~/images/m1-act.jpg','~/images/m2-act.jpg','~/images/m3-act.jpg','~/images/m4-act.jpg','~/images/m5-act.jpg')">
<div id="main">
<!-- header -->
	<div id="header">
		<div class="row-1">
			<div class="indent"><a href="home.html"><img alt="" src="~/images/logo.jpg" /></a></div>
		</div>
		<div class="row-2">
			<ul class="nav">
				<li><a href="~/Home/index"><img alt="" src="~/images/m1.jpg" id="r_1" /></a></li>
                <li><a href="~/Home/about_us"><img alt="" src="~/images/m2-act.jpg" id="r_2" /></a></li>
				<li><a href="~/Home/articles"><img alt="" src="~/images/m3.jpg" id="r_3" /></a></li>
				<li><a href="~/Home/contact_us"><img alt="" src="~/images/m4.jpg" id="r_4" /></a></li>
				<li class="last"><a href="~/Home/site_map"><img alt="" src="~/images/m5.jpg" id="r_5" /></a></li>
			</ul>
		</div>
	</div>
<!-- content -->
	<div id="content">
<!-- content-box begin -->
		<div class="content-box">
			<div class="top">
				<div class="bottom">
					<div class="inside">
<!-- box begin -->
						<div class="box">
						<div class="top"></div>
							<div class="inner">
								<h2>About Our Website</h2>
								<p class="p3">This website is for my most intresting topics. But now we are going to do our final year project. This is the most important activity for us. My team members and our instructor are intrested in it. Following are my team members.</p>
								<h3>About Buybest Team</h3>
								<ul class="img-list">


                                    <li>
										<img alt="" src="~/images/sh.PNG" />
										<h4><a href="#">Dr. Shahzad Sarwar</a></h4>
										He is the supervisor of Buybest. Ususally this is the person who think about business rules to take market attainment. Having a lot of experience in this field so therefore everyone is expecting that buybest will change the complex envirnment into most reliable and easy to adoptable.
									</li>
                                    <li>
										<img alt="" src="~/images/al.PNG" />
										<h4><a href="#">Ahmed Shair</a></h4>
										He is supposed to be the most important member of our team. Ususally this is the person who started the website. Buybest team management is done by him. Most of the interest into fantsy fibre which is actually trek to buybest.
									</li>
									<li>
										<img alt="" src="~/images/aw.PNG" />
										<h4><a href="#">Awais Haider</a></h4>
										He is supposed to be the most important member of our team. Ususally this is the person who started the website. Maybe it is worth to write why he made such a desicion, what inspired him and what are his plans for the future.
									</li>
                                    <li>
										<img alt="" src="~/images/z.PNG" />
										<h4><a href="#">Zeeshan Saleem</a></h4>
								        This is the person who is expert in bootstrap and html5 and logo designing. Maybe it is worth to write why he made such a desicion, what inspired him and what are his plans for the future.
									</li>

									<li>
										<img alt="" src="~/images/um.PNG" />
										<h4><a href="#">Hafiz Umair Arif</a></h4>
                                        									He is supposed to be the most harworking member of our team. Ususally this is the person give the new idea about website.
										</li>
									<li>
										<img alt="" src="~/images/haseeb.PNG" />
										<h4><a href="#">Muhammad Haseeb Javed</a></h4>
																			He is supposed to be the most intelegent member of our team. Ususally this is the person who has innovative ideas to do something better.
									</li>
								</ul>
							</div>
							<div class="inner_copy">More <a href="http://www.templates.com/">Website Templates</a></div>
							<div class="bottom"></div>
						</div>
<!-- box end -->
					</div>
				</div>
			</div>
		</div>
<!-- content-box end -->
		<img alt="" src="~/images/magic.png" class="magic png" />
	</div>
<!-- footer -->
	<div id="footer">
		<div class="indent">
			<div class="fleft">Copyright - Buybest Group</div>
			<div class="fright"></div>
		</div>
	</div>
</div>
</body>
</html>